colorama==0.4.6
Flask==3.0.3
Flask_SocketIO==5.3.6
gTTS==2.5.1
ipython==8.12.3
MarkupSafe==2.1.4
numpy==2.0.0
pygame==2.5.2
python-dotenv==1.0.1
python_vlc==3.0.20123
PyYAML==6.0.1
rcon==2.4.4
replicate==0.23.1
mutagen==1.47.0