@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    --col-bg: #0000006e;
    --col-console: #0000007c;
    --col-console-darker: #000000c2;

    --col-border: #000000cc;

    color: white;
    margin: 5px;
    line-height: 1.7rem;
    font-family: 'Roboto', sans-serif;
}


body {
    background-image: url("/static/oak.png");

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: none none;
}

button,
input {
    color: black;
}

table {
    width: fit-content(100%);
}

td, th {
    background-color: var(--col-console);
    border-color: var(--col-border);
}

tr:nth-child(even) {
    background-color: var(--col-console-darker);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.grid1 { grid-area: 1 / 1 / 2 / 2; }
.grid2 { grid-area: 1 / 2 / 2 / 3; }
.grid3 { grid-area: 2 / 1 / 3 / 3; }

.grid-item {
    padding: 10px;
    background-color: var(--col-bg);
}

#scroller * {
    overflow-anchor: none;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

.consolebox {
    background-color: var(--col-console);
    border-color: var(--col-border);
    border-width: 2px;
    border-style: solid;
    height: 300px;
    padding: 10px;
    overflow: auto;
    font-family: monospace;
}