<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.socket.io/4.7.4/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Console</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='oaklog.png')}}">
    
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="grid-container">{% block body %}{% endblock %}</div>
</body>

</html>