{% extends "base.html" %}
{% block head %}
<script src="{{url_for('build.static', filename='js/index.js')}}"></script>
{% endblock %}
{% block body %}
<div class="grid-item">
    <h1>AI</h1>
    <p>You no longer need to input the prefix before the command in the admin panel!</p>
    <p>send a command to the AI: <input type="text" id="aicmd_text"> <button id="aicmd_send">submit</button></p>
    <p id="statusline">status will show up here.</p>

    <div>
        <input type="checkbox" class="pvar" name="kill_switch" id="kill_switch">
        <label for="kill_switch">KILL SWITCH</label>
    </div>
    <div>
        <input type="checkbox" class="pvar" id="auto_disable_voice">
        <label for="auto_disable_voice">AUTO DISABLE VOICE</label>
        <div class="help" title="Should the program automatically run the '-voicerecord' command when a TTS has completed?"></div>
    </div>

    <p>people connected to the panel: <span id="connected_count">...</span></p>
</div>
<div class="grid-item">
    <h1>Console</h1>
    <div id="console">
        <div id="box"></div>
        <div id="anchor"></div>
    </div>
</div>
<div class="grid-item">
    <h1>Queue</h1>
    <p>queue length: <span id="queuelength">...</span></p>
    <table id="queue">
        <thead>
            <tr>
                <th style="width:10%;">Username</th>
                <th style="width:60%;">Message</th>
                <th style="width:30%;">Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %}