{% extends "base.html" %}
{% block head %}
<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}
{% block body %}
<div class="grid-item grid1">
    <h1>Send</h1>
    Send AI: <input type="text" id="aicmd"> <button id="sendaicmd">Send</button><br>
    Send RCON: <input type="text" id="rconcmd"> <button id="sendrconcmd">Send</button><br>
    <h5 id="info">Info will show up here.</h5>
    {% if killSwitch %}
    <input type="checkbox" id="killSwitch" checked="true">
    {% else %}
    <input type="checkbox" id="killSwitch">
    {% endif %}
    KILL SWITCH
    <br>
    {% if autoDisableVoice %}
    <input type="checkbox" id="autoDisableVoice" checked="true">
    {% else %}
    <input type="checkbox" id="autoDisableVoice">
    {% endif %}
    AUTO DISABLE VOICE
</div>
<div class="grid-item grid2">
    <h1>Command</h1>
    <h5 id="refreshTime">
        {% if refreshTime == 1 %}
        refreshes every second.
        {% else %}
        refreshes every {{refreshTime}} seconds.
        {% endif %}
    </h5>
    <div class="consolebox" id="scroller">
        <div id="consoleBox"></div>
        <div id="anchor"></div>
    </div>
</div>
<div class="grid-item grid3">
    <h1>Queue Length: <span id="queuelength"></span></h1>
    <table id="queue">
        <thead>
            <tr>
                <th style="width:10%;">Username</th>
                <th style="width:60%;">Message</th>
                <th style="width:30%;">Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %}